@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}


/* @import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

body {
  font-family: 'Volkhov', serif;
} */


.first-section {
  background-image: url('../src/assets/images/aboutUsBackground.svg');
  background-size: cover;
  background-position: center;
}

.third-section {
  background-image: url('../src/assets/images/3rdBlockBackground.svg');
  background-size: cover;
  background-position: center;
}

.sixth-section {
  background-image: url('../src/assets/images/sixthBlockBackground.svg');
  background-size: cover;
  background-position: center;
}